html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 5px;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.color-header, .color-header div .mobile .menu {
    background-color: #44678f;
    font-family: Arial;
}

.button {
    background-color: #44678f;
    color: #feffff;
}

.color-header .row .navbar-nav a, .color-header .row .mobile a {
    color: #feffff;
}

    .color-header .row .navbar-nav a:hover, .color-header .row .mobile a:hover {
        color: #c2c2c2;
    }

.color-header div a {
    font-size: 20px;
}

.color-header ul a {
    font-size: 17px;
}

.color-header ul {
    margin-left: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container-footer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.container-footer .text-muted {
    margin: 20px 0;
    text-align: center;
}

.info {
    margin-right: 5px;
}

.glyphicon-plus {
    color: #5abc4d;
    transition: transform 3s linear;
}

.glyphicon-plus:hover {
    transform: rotateZ(180deg);
}

.box {
    background: #fff;
    transition: all 0.2s ease;
    border: 2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding: 0 20px 20px 20px;
    min-height: 340px;
}

    .box:hover {
        border: 2px solid #525C7A;
    }

    .box span.box-title {
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .box .box-content {
        padding: 16px;
        border-radius: 0 0 2px 2px;
        background-clip: padding-box;
        box-sizing: border-box;
    }

        .box .box-content p {
            color: #515c66;
            text-transform: none;
        }

.map {
    margin-top: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
