@{
    ViewData["Title"] = "Catalog";
}

<h2>Catalog pharmacy</h2>
<div ng-controller="PharmacyCtrl">
    <table class="table row">
        <tr>
            <th class="col-md-3"><a class="link-table" href="">Название</a></th>
            <th class="col-md-3"><a class="link-table" href="">Наличие</a></th>
            <th class="col-md-3"><a class="link-table" href="" ng-click="sort('price')">
                Цена
                <i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('price'),
                                                'glyphicon-chevron-down' : isSortDown('price')}"></i>
                </a></th>
            <th class="col-md-3"><a class="link-table" href="" ng-click="sort('company.name')">Компания
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-up' : isSortUp('company.name'),
                                                'glyphicon-chevron-down' : isSortDown('company.name')}"></i>
                </a></th>
        </tr>
        <tr ng-repeat="med in medicines | orderBy:sortField:reverse">
            <td>
                <a href="medicine/{{med.id}}" class="link-medicine">{{med.name}}</a>
            </td>
            <td>
                <span class="label" ng-class="med.availabilityPharmacy === false ? 'label-success' : 'label-danger'">
                    {{med.availabilityPharmacy === false ? 'Есть' : 'Нет'}}
                </span>
            </td>
            <td>
               {{med.price}}
            </td>
            <td>
                {{med.company.name}}
            </td>
        </tr>
    </table>
</div>