@{
    ViewData["Title"] = "Catalog";
}

<h2>Catalog pharmacy</h2>
<div ng-controller="PharmacyCtrl">
    <table class="table row">
        <tr>
            <th>Название</th>
            <th>Наличие</th>
            <th>Цена</th>
            <th>Компания</th>
        </tr>
        <tr ng-repeat="med in medicines">
            <td>
                <a href="medicine/{{med.id}}" class="link-medicine">{{med.name}}</a>
            </td>
            <td>
                <span class="label" ng-class="med.availabilityPharmacy === false ? 'label-success' : 'label-danger'">
                    {{med.availabilityPharmacy === false ? 'Есть' : 'Нет'}}
                </span>
            </td>
            <td>
               {{med.price}}
            </td>
            <td>
                {{med.company.name}}
            </td>
        </tr>
    </table>
</div>